<!DOCTYPE html>
<html data-bs-theme="light" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common :: meta_header('studys',~{::link},~{::script})}">

</head>

<body>
  <div th:replace="~{common :: navbar}"></div>

  <section class="py-4 py-xl-5">
    <div class="container h-100">
      <div class="row h-100">
        <div
          class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
          <div>
            <h2 class="text-uppercase fw-bold mb-3">All STUDY</h2>
            <p class="mb-4">
              스터디<br />&nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp;
            </p>
            <button class="btn btn-primary btn-sm fs-5 py-2 px-4" style="margin-right: 5px;" type="button">
              전체</button><button class="btn btn-primary btn-sm fs-5 py-2 px-4" type="button">
              모집중
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container py-4 py-xl-5">
      <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div th:each="studysdetail : ${studysList}" class="col">
          <div>
            <th:block th:if="${studysdetail.studys.filepath == null}">
              <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px; object-fit: contain;"
                src="assets/svg/logo.svg" />
            </th:block>
            <th:block th:if="${studysdetail.studys.filepath != null}">
              <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px"
              th:src="@{${studysdetail.studys.filepath}}" />
            </th:block>
            
            <div class="py-4">
              <p th:utext="${studysdetail.applicantCount}+'人'">申請者数</p>
              <h4 th:text="${studysdetail.studys.studyName}">스터디 이름</h4>
              <p th:utext="${studysdetail.studys.studyDetail}">상세설명</p>
              <a class="btn btn-primary" role="button" th:href="@{/studys/detail(id=${studysdetail.studys.id})}">자세히</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <section class="text-start py-4 py-xl-5">
          <div class="container">
            <div
              class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
              <div class="pb-2 pb-lg-1">
                <h2 class="fw-bold mb-2">찾는 스터디가 없으신가요?</h2>
                <p class="mb-0">직접 스터디를 모집해보세요!</p>
              </div>
              <div class="my-2">
                <a class="btn btn-light fs-5 py-2 px-4" role="button" href="/studys/enroll">스터디 등록하기</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    </div>
  </section>


  <div th:replace="~{common :: footer}"></div>
</body>

</html>